#sw-hero{
  background-image: url('images/title-bg.png');
  height: 400px;
  background-size: cover;
  padding-top: 140px;
}

#sw-hero h1{
  text-align:center;
  color: white;
  letter-spacing: 6px;
  font-size: 40px;
}

#sw-hero p{
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 18px;
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
