/* HERO STYLES */

#sw-hero{
  background-image: url('images/title-bg.png');
  height: 400px;
  background-size: cover;
  padding-top: 140px;
}

#sw-hero h1{
  text-align:center;
  color: white;
  letter-spacing: 6px;
  font-size: 40px;
}

#sw-hero p{
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 18px;
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

/* ICON AREA STYLES */

#sw-icons{
  background-color: black;
  color: #b6b7b7;
  padding-top: 10px;
}

.icon-area-size{
  max-width: 700px;
}

#sw-icons p{
  text-align:center;
}

#sw-icons img{
  height: 50px;
  display: block;
  margin: 0 auto;
}


/* MISSION STATEMENT STYLES */

.center-text{
  text-align:center;
}

.justify-text{
  text-align: justify;
}

#sw-mission{
  padding-top: 20px;
  padding-bottom: 20px;
}

.that-green-button{
  background-color: #7ec241;
  color: white !important;
  padding: 20px;
  display: block;
  width: 100%;
  max-width: 221px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: .5s;
  padding-bottom: 9px;
  text-decoration: none;
}
a {
  text-decoration: none !important;
  }

.that-green-button:hover{
  opacity: .7;
}


#sw-soloapp{
  background: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 5 COLUMN LAYOUT STYLES */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
